{% extends 'base.html' %}
{% block title %}Registrar Cliente{% endblock %}
{% block content %}

<div class="container mt-4">
  <h2 class="text-center mb-4">🧑‍💼 Registrar Cliente</h2>

  <form method="post">
    {% csrf_token %}

    <label>Nombre:</label>
    {{ form.nombre }}

    <label>RTN:</label>
    {{ form.rtn }}

    <label>Dirección:</label>
    {{ form.direccion }}

    <label>Teléfono:</label>
    {{ form.telefono }}

    <button class="btn btn-primary mt-3">💾 Guardar Cliente</button>
  </form>
</div>
 

{% endblock %}   


