{% extends 'base.html' %}
{% block content %}
<h2>👷 Empleados</h2>
<a href="{% url 'empleados:crear_empleado' %}" class="btn btn-primary mb-3">➕ Nuevo Empleado</a>
<a href="{% url 'empleados:lista_pagos' %}" class="btn btn-primary mb-3"> 💵 Lista Pagos</a>
<table class="table table-bordered">
  <tr>
    <th>Nombre</th>
    <th>Puesto</th>
    <th>Salario Base</th>
    <th>Fecha Ingreso</th>
    <th>Activo</th>
    <th>Acciones</th>
  </tr>
  {% for e in page_obj %}
  <tr>
    <td>{{ e.nombre }}</td>
    <td>{{ e.puesto }}</td>
    <td>L {{ e.salario_base }}</td>
    <td>{{ e.fecha_ingreso }}</td>
    <td>{{ e.activo|yesno:"Sí,No" }}</td>
    <td>
      <a href="{% url 'empleados:editar_empleado' e.id %}" class="btn btn-sm btn-warning">✏️ Editar</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% include "partials/pagination.html" with page_obj=page_obj %}

</div>


{% endblock %}
