{% extends 'base.html' %}
{% block title %}Lista de Productos{% endblock %}
{% block content %}


    <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>📦 Lista de Productos</h2>

    <div class="d-flex gap-2">
        <a href="{% url 'crear_categoria' %}" class="btn btn-secondary">➕ Agregar Categoría</a>
        <a href="{% url 'agregar_producto' %}" class="btn btn-success">➕ Agregar nuevo producto</a>
    </div>
</div>

<form method="get" class="mb-3 d-flex gap-2 align-items-center" role="search">
    <input type="text" name="q" class="form-control" placeholder="🔍 Buscar producto..." value="{{ query }}">
    
    <select name="categoria" class="form-select">
        <option value="">📂 Todas las categorías</option>
        {% for c in categorias %}
            <option value="{{ c.id }}" {% if categoria_seleccionada == c.id|stringformat:"s" %}selected{% endif %}>
                {{ c.nombre }}
            </option>
        {% endfor %}
    </select>

    <button type="submit" class="btn btn-outline-primary">Buscar</button>
</form>


<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <!-- <th>ID</th> -->
            <th>Código / ID</th>
            <th>Código de Barra</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoría</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr {% if producto.necesita_restock %}class="table-warning"{% endif %}>
            <!-- <td>{{ producto.id }}</td> -->
            <td>{{ producto.codigo }}</td>
            <td>{{ producto.codigo_barra|default:"—" }}</td>
            <td>{{ producto.nombre }}</td>
            <td>L {{ producto.precio }}</td>
            <td>
        {% if producto.categoria %}
        {{ producto.categoria.nombre }}
        {% else %}
        <span class="text-muted">—</span>  {# o "Sin categoría" si preferís #}
        {% endif %}
        </td>

            <td>{{ producto.stock }}</td>
            <td>
                <a href="{% url 'editar_producto' producto.id %}" class="btn btn-warning btn-sm">✏️</a>
                <a href="{% url 'eliminar_producto' producto.id %}" class="btn btn-danger btn-sm"
                   onclick="return confirm('¿Seguro que deseas eliminar este producto?')">🗑</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8" class="text-center">No hay productos registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
