{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
  <h2 class="text-center mb-4">⚙️ Configuración del negocio</h2>

  <form method="post">
    {% csrf_token %}

    <label>Nombre del negocio:</label>
    {{ form.nombre }}

    <label>RTN:</label>
    {{ form.rtn }}

    <label>Dirección:</label>
    {{ form.direccion }}

    <label>Teléfono:</label>
    {{ form.telefono }}

    <label>Correo:</label>
    {{ form.correo }}

    <button class="btn btn-primary mt-3">
      💾 Guardar cambios
    </button>
  </form>
</div>

{% endblock %}
